{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% include 'header_includes.html' %}
    </head>
    <body>
        <div class="container">
            {% include 'header_content.html' %}
            {% include 'navigation.html' %}
            <div class="content">
                {% block content_title %}{% endblock %}
                {% include 'messages.html' %}
                {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
