{% extends 'base.html' %}

{% block title %}Job View{% endblock %}
{% block content_title %}<h1>Job View</h1>{% endblock %}

{% block content %}
<p>Your job with input <b>{{ input_file }}</b> started at <b>{{ start_time }}</b> and run for <b>{{ duration }}</b>.</p>

<div class='col-lg-5 col-lg-offset-3'>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file }}</td>
                    <td><a href="{% url 'serve_file' run=job_id directory='output' filename=file %}">
                            <i class="fa fa-download" aria-hidden="true"></i>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
