{% extends 'account/base.html' %}
{% load tool_extra %}

{% block title %}Change password{% endblock %}
{% block content_title %}<h1>Change password</h1>{% endblock %}

{% block account_content %}
    <p>Please provide your current password for the sake of security.</p>
    <form method="post">
        {% csrf_token %}
        {{ form | bootstrap_form }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Change my password</button>
        </div>
    </form>
{% endblock %}
