{% extends 'base.html' %}
{% load tool_extra %}

{% block title %}Password reset{% endblock %}
{% block content_title %}<h1>Password reset</h1>{% endblock %}
{% block content %}

{% if validlink %}
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="post">
        {% csrf_token %}
        {{ form | bootstrap_form }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Change my password</button>
        </div>
    </form>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}
{% endblock %}
