{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% include 'header_includes.html' %}
        {% block extra_header %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% include 'header_content.html' %}
            {% include 'navigation.html' %}
            <div class="content">
                <div class="col-lg-12">
                    {% block content_title %}{% endblock %}
                    {% include 'messages.html' %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
