{% load static %}

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        {% block extra_header %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Online generic tool</h1>
            </div>
            {% include 'navigation.html' %}
            <div class="content">
                {% block content_title %}{% endblock %}
                {% include 'messages.html' %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
