{% load static %}

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% include 'header_includes.html' %}
        {% block extra_header %}<link rel="stylesheet" href="{% static "css/accounts.css" %}">{% endblock %}
    </head>
    <body>
        <div class="container">
            {% include 'header_content.html' %}
            {% include 'navigation.html' %}
            <div class="content">
                {% block content_title %}{% endblock %}
                {% include 'account/navigation.html' %}
                <div class='account_content'>
                {% include 'messages.html' %}
                {% block account_content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
