{% load user_accounts_extra %}

<ul class="nav nav-pills nav-stacked">
    <li{% if request|current_url:'account' %} class="active"{% endif %}><a href="{% url 'account' %}">Overview</a></li>
    <li{% if request|current_url:'email_change' %} class="active"{% endif %}><a href="{% url 'email_change' %}">Change email address</a></li>
    <li{% if request|current_url:'password_change' %} class="active"{% endif %}><a href="{% url 'password_change' %}">Change password</a></li>
    <li{% if request|current_url:'email_verify' %} class="active"{% endif %}><a href="{% url 'email_verify' %}">Verify email</a></li>
</ul>
