{% load template_extra %}

<div class="nav nav-pills flex-column">
    <a class="nav-link{% if request|current_url:'account' %} active{% endif %}" href="{% url 'account' %}">Overview</a></li>
    <a class="nav-link{% if request|current_url:'email_change' %} active{% endif %}" href="{% url 'email_change' %}">Change email address</a></li>
    <a class="nav-link{% if request|current_url:'password_change' %} active{% endif %}" href="{% url 'password_change' %}">Change password</a></li>
    <a class="nav-link{% if request|current_url:'email_verify' %} active{% endif %}" href="{% url 'email_verify' %}">Verify email</a></li>
</div>
